@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1763959727356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-matuwang-zhihufangxingdianji:before {
  content: "\e602";
}

.icon-xiangshangjiantou:before {
  content: "\e6e5";
}

.icon-toutiao:before {
  content: "\e504";
}

.icon-sousuo:before {
  content: "\e65e";
}

.icon-gouwulan:before {
  content: "\e635";
}

